.footer-container {
  background: #faeada;
  padding: 32px 0 16px 0;
  text-align: center;
}
.footer-logos {
  margin-bottom: 18px;
}
.footer-logos img {
  min-width: 48px;
  width: fit-content;
  height: auto;
  object-fit: contain;
  transition: max-width 0.2s, min-width 0.2s, height 0.2s;
}
.footer-text {
  color: #e00914;
  font-size: 18px;
  font-weight: bold;
}
.footer-logos-row {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-bottom: 12px;
} 