.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 30px;
  background: #faeada;
}
.logo-alma-img {
  width: 812px;
  max-width: 812px;
  height: auto;
  margin-bottom: 0;
  margin-top: 0px;
  display: block;
}
.main-title {
  font-family: 'Playfair Display', serif;
  font-size: 72px;
  color: #e00914;
  letter-spacing: 2px;
  margin-bottom: 0;
  text-align: center;
}
.clavel-img {
  width: 90px;
  margin: 16px 0 8px 0;
}
.event-info {
  display: flex;
  gap: 32px;
  font-size: 20px;
  color: #e00914;
  font-weight: bold;
  margin-top: 12px;
}
.event-info-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto 0 auto;
  padding: 0 32px;
  box-sizing: border-box;
}
.event-info-left, .event-info-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.event-info-right {
  align-items: flex-end;
}
.event-info-center {
  flex: 2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titulo {
  font-family: 'Helvetica Neue', serif;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0.08em;
  line-height: 1.1;
}
.subtitulo {
  font-family: 'Helvetica Neue', serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.08em;
  line-height: 1.1;
}
.rojo {
  color: #e00914;
}
.header-top-lines {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto 8px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
}
.header-line {
  background: #e00914;
  height: 3px;
  width: 100%;
  border-radius: 2px;
}
.header-line-1 {
  margin-bottom: 2px;
}
.header-line-2 {
  height: 3px;
  width: 100%;
}
@media (max-width: 600px) {
  .logo-alma-img {
    width: 140px;
    max-width: 90vw;
    height: auto;
  }
} 