.section {
  padding: 5px 10px;
  background: #faeada;
  /* border-bottom: 1px solid #e2cfc3; */
  color: #e00914;
}
@media (max-width: 900px) {
  .section { padding: 32px 24px; }
}
@media (max-width: 600px) {
  .section { padding: 24px 10px; }
} 